{% extends 'app_general/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div>
        <div>
            <h1>Home | หน้าแรก</h1>
            <hr>
        </div>
        {% if user.is_authenticated %}
            <h3>รหัสผู้ใช้ของคุณ</h3>
            {{user.username}}

            <div style="margin-top: 10px;">
                 <form id="chatbot-form" action="/chatbot/"  method="POST">
                     {% csrf_token %}
                     <input type="text" id="user-message" name="message" placeholder="Enter your message">
                     <button type="submit">Send</button>
                 </form>
                 
                 <div id="chat-log">
                     {{ result }}
                 </div>
            </div>
        {% else %}
            <h3>คุณยังไม่ได้ Login</h3>
        {% endif %}

    </div>
{% endblock %}